{% extends 'base.html' %}
{% load static %}
{% block title %}Overview{% endblock title %}
{% block content %}  

<div class="container">
    <div class="first-row">
        <div class="timeframe">
            <button class="btn btn-default btn-xs" type="button" onclick="timeFrame('tick', 1)">T</button>
            <button class="btn btn-default btn-xs" type="button" onclick="timeFrame('day', 1)">D</button>
            <button class="btn btn-default btn-xs" type="button" onclick="timeFrame('week', 1)">W</button>
            <button class="btn btn-default btn-xs" type="button" onclick="timeFrame('month', 1)">M</button>
        </div>
        <div id='equity-chart'></div>
    </div>
</div>

<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script>
    var source = {
        profit: {{ profit }},
        commission: {{ commission }},
        volume: {{ volume }}
    };
</script>
<script src="{% static "js/chart.js" %}"></script>
{% endblock content %}
