{% extends 'base.html' %}
{% load static %}
{% block title %}Overview{% endblock title %}
{% block content %}  

<div class="row">
    <div class="container">
        <div id="chart"></div>
    </div>
</div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
window.onload = function(){
    var myChart = Highcharts.chart('chart', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }]
    });
    
    $.get('/', function(data){
        localStorage.setItem("products", JSON.stringify(data));
    })
};
</script>
{% endblock content %}
